@import "../../../../sass/variables.scss";

.grid-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: $heavyblue;
    color: $lightGray;
    box-shadow: none;

    .form {
        display: flex;
        // align-items: center;
        justify-content: center;
        div {
            width: 90%;
            div {
                width: 90%;
                margin: 0;
            }
        }
    }
}
.cancelar, .crear{
    width: 50%;
}
.crear{
    position: relative;
    top: 70.88px;
}

.btnFormulario {
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
.accionLabel {
    font-size: 2rem;
}

.msg-error {
    color: red;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-form-field {
    width: 100%;
}

mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

::ng-deep.mat-form-field-appearance-standard .mat-form-field-underline {
    background-color: $lightGray;
}
::ng-deep.mat-form-field-flex:hover {
    transition: none;
}

::ng-deep.mat-form-field-flex:hover {
}
::ng-deep.mat-select-arrow {
    color: $lightGray;
}

::ng-deep.exito.mat-snack-bar-container {
    text-align: center;
    background: green;
    color: white;
}

mat-form-field {
    color: $lightGray;
    input {
        color: $lightGray;
    }
    mat-label {
        color: $lightGray;
    }

}
::ng-deep.advertencia.mat-snack-bar-container {
    text-align: center;
    background: orangered;
    color: white;
}

.hint{
    color: white;
}