<mat-toolbar color="primary">
    <span id="span">HSVP</span>
    <span class="example-spacer"></span>
    <button (click)="redireccionar('listaUsuarios')" mat-icon-button style="right: 40px;">
        <mat-icon>arrow_back</mat-icon> Regresar
    </button>
</mat-toolbar>

<mat-card class="grid-container">
    <div class="row">
        <mat-label class="accionLabel">{{ accion }} Usuario</mat-label>
    </div>
    <form [formGroup]="miFormulario" autocomplete="off" class="form">
        <div class="columnForm">
            <div class="col-lg-6 ident">
                <mat-form-field appearance="standard">
                    <mat-label>Identificación</mat-label>
                    <input matInput type="number" formControlName="identificacion">
                </mat-form-field>
            </div>

            <div class="col-lg-4 rol">
                <mat-form-field appearance="standard" class="formCampos">
                    <mat-label>Tipo</mat-label>
                    <mat-select formControlName="tipo">
                        <mat-option *ngFor="let tipo of tipos" [value]="tipo">
                            {{ tipo }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-4 nombre">
                <mat-form-field appearance="standard">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre">
                </mat-form-field>
            </div>

            <div class="col-lg-4 ape1">
                <mat-form-field appearance="standard">
                    <mat-label>Primer Apellido</mat-label>
                    <input matInput formControlName="pApellido">
                </mat-form-field>
            </div>

            <div class="col-lg-4 ape2">
                <mat-form-field appearance="standard">
                    <mat-label>Segundo Apellido</mat-label>
                    <input matInput formControlName="sApellido">
                </mat-form-field>
            </div>

            <div class="col-lg-4 cancelar">
                <button (click)="cancelarAccion()" class="btnFormulario" mat-raised-button
                    color="warn">Cancelar</button>
            </div>
        </div>
        <div class="columnForm">
            <div class="col-lg-12 correo">
                <mat-form-field appearance="standard">
                    <mat-label>Correo Electrónico</mat-label>
                    <input type="email" matInput formControlName="correo">
                </mat-form-field>
            </div>

            <div class="col-lg-4 tel">
                <mat-form-field appearance="standard">
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="tel">
                </mat-form-field>
            </div>
            <div class="col-lg-4 rol">
                <mat-form-field appearance="standard" class="formCampos">
                    <mat-label>Rol</mat-label>
                    <mat-select formControlName="rol">
                        <mat-option *ngFor="let rol of roles" [value]="rol">
                            {{ rol }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-4 contra">
                <mat-form-field appearance="standard" class="formCampos">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="'password'" formControlName="contra">
                    <mat-hint class="hint">
                        Al menos una mayúscula, un número, un carácter especial #?!@$%^&*- 
                        y mínimo 5 carácteres.
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="col-lg-4 crear">
                <button (click)="crearEditarUsuario()" class="btnFormulario" mat-raised-button color="accent">{{ accion
                    }}</button>
            </div>
        </div>
    </form>
</mat-card>