<router-outlet></router-outlet>
  <mat-toolbar color="primary">
  <span id="span">HSVP</span>
  <span class="example-spacer"></span>
  <button routerLink="/login" mat-icon-button style="right: 10px;">
    <mat-icon>logout</mat-icon> Salir
  </button>
</mat-toolbar>