<router-outlet></router-outlet>

<mat-toolbar color="primary">
  <span id="span">HSVP</span>
  <span class="example-spacer"></span>
  <button (click)="redireccionar('listaAutorizaciones')" mat-icon-button style="right: 40px;">
    <mat-icon>arrow_back</mat-icon> Regresar
  </button>
</mat-toolbar>

<mat-label class="h2">Editar Autorización</mat-label>

<mat-card class="form-container">
  <form #editarAutorizacionesForm="ngForm" class="form">

    <!-- Cedula -->
    <mat-form-field appearance="standard">
      <mat-label>Identificación</mat-label>
      <input matInput #postalCode class="form-control" placeholder="Cedula" [(ngModel)]="cedula" readonly name="cedula">
    </mat-form-field>

    <!-- Nombre -->
    <mat-label class="disabledField">{{nombre}}</mat-label>

    <!-- Diagnostico -->
    <mat-form-field appearance="standard">
      <mat-label>Diagnóstico</mat-label>
      <input matInput #postalCode class="form-control" required placeholder="Diagnostico" [(ngModel)]="diagnostico"
        name="diagnostico">
    </mat-form-field>

    <!-- Codigo Medicamento -->
    <mat-form-field appearance="standard">
      <mat-label>Código de medicamento</mat-label>
      <input matInput #postalCode class="form-control" placeholder="Codigo Medicamento" [(ngModel)]="cod_medicamento"
        readonly name="cod_medicamento">
    </mat-form-field>

    <!-- Nombre Medicamento -->
    <mat-label class="disabledField">{{nom_medicamento}}</mat-label>

    <!-- Dosis -->
    <mat-form-field appearance="standard">
      <mat-label>Dosis</mat-label>
      <input matInput #postalCode class="form-control" required placeholder="Dosis" [(ngModel)]="dosis" name="dosis">
    </mat-form-field>

    <!-- Clave de Inicio -->
    <mat-form-field appearance="standard">
      <mat-label>Clave inicial</mat-label>
      <input matInput #postalCode class="form-control" placeholder="Clave Inicio" [(ngModel)]="clave_inicial" readonly
        name="clave_inicial">
    </mat-form-field>

    <!-- Clave de Continuación -->
    <mat-form-field appearance="standard">
      <mat-label>Clave de continuación</mat-label>
      <input matInput #postalCode class="form-control" required placeholder="Clave Continuacion"
        [(ngModel)]="clave_continuacion" name="clave_continuacion">
    </mat-form-field>

    <!-- Médico -->
    <mat-form-field appearance="standard">
      <mat-label>Médico</mat-label>
      <input matInput #postalCode class="form-control" required placeholder="Médico" [(ngModel)]="medico" name="medico">
    </mat-form-field>

    <!-- Epecialidad del Médico -->
    <mat-form-field appearance="standard">
      <mat-label>Especialidad</mat-label>
      <input matInput #postalCode class="form-control" required placeholder="Especialidad" [(ngModel)]="especialidad"
        name="especialidad">
    </mat-form-field>
    <!-- Estado de la Autorización -->
    <mat-form-field appearance="standard">
      <mat-label>Estado</mat-label>
      <mat-select [(ngModel)]="estado" name="estado" required>
        <mat-option *ngFor="let estado of estados" [value]="estado.value">
          {{estado.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Cantidad de Retiros Autorizados -->
    <mat-form-field appearance="standard">
      <mat-label>Retiros Autorizados</mat-label>
      <input matInput #postalCode class="form-control" type="number" required placeholder="Retiros Autorizados"
        [(ngModel)]="cantidad_retiros" name="cantidad_retiros">
    </mat-form-field>
  </form>
  <form class="buttonsForm">
    <div class="buttons-container">
      <button (click)="cancelarAccion()" color="warn" mat-raised-button color="warn">Cancelar</button>
      <button (click)="editarAutorizacion(editarAutorizacionesForm)" [disabled]="editarAutorizacionesForm.invalid ||
      nombre.length < 1 || nom_medicamento.length < 1" class="btnFormulario" mat-raised-button>Editar</button>
    </div>
  </form>
</mat-card>