@import "../../../../sass/variables.scss";

mat-toolbar button{
  margin-left: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 4%;
  margin-top: 3%;
  width: 90%;
  background-color: $heavyblue;
  box-shadow: none;
}

::ng-deep.mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: $lightGray;
}
mat-form-field {
  color: $lightGray;
  input {
    color: $lightGray;
  }
  mat-label {
    color: $lightGray;
  }
}

.disabledField {
  margin-top: 30px;
  text-align: center;
  color: $lightGray;
}
.form{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4,1fr);
  gap: 40px;
}

.form mat-form-field{
  position: relative;
  justify-self: center;
  align-self: center;
  width: 100%;
}
.form mat-form-field{
  width: 115%;
}
input{
  width: 90vw;
}

.buttons-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.buttons-container button{
  width: 150px;
  height: 70%;
  margin-bottom: 17px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
@media (max-width: 1050px) {
  .form-container{
    height: 147vh;
    width: 90vw;
  }
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  .buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.buttonsForms {
  width: 100%;
  background-color: green;
}

.h2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 80vw;
  font-size: 1.8rem;
  margin: 0 auto;
  font-style: Roboto;
  color: $lightGray;
  margin-top: 15px;
}

::ng-deep.Exito.mat-snack-bar-container{
  text-align: center;
  background: green;
  color:white;
}

::ng-deep.Error.mat-snack-bar-container{
  text-align: center;
  background: red;
  color:white;
}

::ng-deep.Advertencia.mat-snack-bar-container{
  text-align: center;
  background: #EC7C12;
  color:white;
}

.btnFormulario {
  background-color: $accentBlue;
  margin-left: 10%;
}