<mat-toolbar color="primary">
    <span id="span">HSVP</span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <button (click)="redireccionar('listaMedicamentos')" mat-icon-button style="right: 40px;">
        <mat-icon>arrow_back</mat-icon> Regresar
    </button>
</mat-toolbar>

<mat-card class="grid-container">
    <div class="row">
        <mat-card-title class="titulo">{{ accion }} Medicamento</mat-card-title>
    </div>
    <form [formGroup]="miFormulario" autocomplete="off" class="form">
        <div class="col-lg-6">
            <mat-form-field appearance="standard">
                <mat-label>Código Ej: X-XX-XX-XXXX</mat-label>
                <input matInput formControlName="_id">
            </mat-form-field>
            <div *ngIf="miFormulario.get('_id')?.hasError('required')
                        && miFormulario.get('_id')?.touched">
                <span class="msg-error">Este campo es obligatorio</span>
            </div>
            <div *ngIf="miFormulario.get('_id')?.hasError('pattern')
                                        && miFormulario.get('_id')?.touched">
                <span class="msg-error">Formato Incorrecto</span>
            </div>
        </div>
        <div class="col-lg-4">
            <mat-form-field appearance="standard">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nom_medicamento">
            </mat-form-field>
            <div *ngIf="miFormulario.get('nom_medicamento')?.hasError('required')
                                 && miFormulario.get('nom_medicamento')?.touched">
                <span class="msg-error">Este campo es obligatorio</span>
            </div>
            <div *ngIf="miFormulario.get('nom_medicamento')?.hasError('pattern')
                                && miFormulario.get('nom_medicamento')?.touched">
                <span class="msg-error">Formato Incorrecto</span>
            </div>
        </div>
        <div class="col-lg-4 crear">
            <button type="button" (click)="crearEditarMedicamento(miFormulario)" class="btnFormulario" mat-raised-button
                color="accent" [disabled]="miFormulario.invalid">{{ accion }}</button>
        </div>
        <div class="col-lg-4 cancelar">
            <button (click)="redireccionar('listaMedicamentos')" type="button" class="btnFormulario" mat-raised-button
                color="warn">Cancelar</button>
        </div>
    </form>
</mat-card>