@import '../../../../sass/variables.scss';

.mat-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: $heavyblue;
    box-shadow: none;
    padding-left: 13%;
}

.titulo{
    color: $lightGray;
}

.btnFormulario{
    min-width: 13vw;
    width: 150px;
    height: 40px;
    margin-top: 0.2rem;
}

.msg-error{
    color: red;
}

.example-spacer {
    flex: 1 1 auto;
}
::ng-deep.mat-form-field-appearance-standard .mat-form-field-underline {
    background-color: $lightGray;
}

.form{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
}
mat-form-field {
    color: $lightGray;
    input {
        color: $lightGray;
    }
    mat-label {
        color: $lightGray;
    }
}

::ng-deep.exito.mat-snack-bar-container{
    text-align: center;
    background: green;
    color:white;
}

::ng-deep.error.mat-snack-bar-container{
    text-align: center;
    background: darkred;
    color: white;
}

::ng-deep.advertencia.mat-snack-bar-container {
    text-align: center;
    background: orangered;
    color: white;
}