<mat-label class="titulo">Reintegro de Recetas</mat-label>
<form #reintegrarForm="ngForm" class="claseForm">

  <div class="form-group" style="text-align: center;">
    <mat-form-field appearance="standard">
      <input matInput type="text" maxlength="7" class="form-control" name="_id" placeholder="Código de Receta" [(ngModel)]="_id" required
        autocomplete="off" (keyup)="consultarCodigoReceta(reintegrarForm)">
    </mat-form-field>
  </div>

</form>

<div *ngIf="mostrarLista" class="form-group" style="text-align: center; margin-bottom: 30px; margin-top: 30px;">
  <mat-label class="nombreMedicamento">Medicamento a reintegrar: <strong>{{medicamento}}</strong></mat-label>
  <br>
  <mat-label class="cantidadMedicamento">Cantidad del medicamento: <strong>{{cantidad}}</strong></mat-label>
  <br>
  <mat-label class="cantidadMedicamento">Estado de la Receta: <strong>{{estado}}</strong></mat-label>
</div>

<div *ngIf="mostrarMensaje" class="form-group" style="text-align: center; margin-bottom: 30px; margin-top: 30px;">
  <mat-label class="message">{{mensaje}}</mat-label>
</div>

<button class="btnAccion" style="margin-right: 10px; margin-left: 50px;" mat-button (click)="onNoClick()"
  mat-flat-button type="button" color="warn">
  Cancelar
</button>

<button [disabled]="reintegrarForm.invalid || mostrarMensaje == true || mostrarLista == false || estado != 'Pendiente'"
  (click)="verificarExistenciaReintegro()" style="margin-right: 10px;" color="accent" class="btnAccion" mat-raised-button type="button">
  Reintegrar
</button>