@import "../../../../sass/variables.scss";

.claseForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btnBuscar {
  height: 40px;
  width: 95px;
  position: relative;
  top: 15px;
  margin: 0 auto;
}

.btnAccion {
  height: 40px;
  width: 95px;
  position: relative;
  top: 20px;
  margin: 0 auto;
}
::ng-deep.mat-dialog-container {
  background-color: $blue;
}
mat-form-field {
  color: $lightGray;
  input {
    color: $lightGray;
  }
  mat-label {
    color: $lightGray;
  }
}
::ng-deep.mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: $lightGray;
}

::ng-deep.mat-inpu-element {
  background-color: $lightGray;
}

::ng-deep.exito.mat-snack-bar-container {
  text-align: center;
  background: green;
  color: white;
}

::ng-deep.error.mat-snack-bar-container {
  text-align: center;
  background: darkred;
  color: white;
}

.nombreMedicamento, .cantidadMedicamento, .message{
  color: $lightGray;
} 

.titulo{
  text-align: center;
  display: block;
  font-size: 20px;
}

::ng-deep.advertencia.mat-snack-bar-container {
  text-align: center;
  background: orangered;
  color: white;
}
