<form #formularioMensaje="ngForm">
  <h1 mat-dialog-title style="text-align: center;">{{accion}} Cantidad</h1>
  <div mat-dialog-content style="text-align: center;">
      <p>{{mensaje}}</p>
    <mat-form-field appearance="standard">
      <mat-label>Cantidad</mat-label>
      <input type="number" matInput [(ngModel)]="nuevaCantidad" name="nuevaCantidad" ngModel required  autocomplete="off">
    </mat-form-field>
  </div>
  <div mat-dialog-actions style="text-align: center;">
    <button mat-button (click)="onNoClick()" style="margin-left: 30px;">Cancelar</button>
    <button [disabled]="formularioMensaje.invalid" mat-flat-button color="primary" [mat-dialog-close]="btn" (click)="actualiarCantidad()">Aceptar</button>
  </div>
</form>
