@import '../../../../sass/variables.scss';

::ng-deep.advertencia.mat-snack-bar-container {
    text-align: center;
    background: orangered;
    color: white;
}

::ng-deep.mat-dialog-container{
    background-color: $blue;
  }
mat-form-field, mat-label {
    color: $lightGray;
    input {
        color: $lightGray;
    }
    mat-label {
        color: $lightGray;
    }
  }
  ::ng-deep.mat-form-field-appearance-standard .mat-form-field-underline {
    background-color: $lightGray;
  }
  
  ::ng-deep.mat-inpu-element{
    background-color: $lightGray;
  }

  h1, div{
      color: $lightGray;
  }