@import "../../../../sass/variables.scss";

mat-form-field,
mat-label,
input {
  color: $lightGray;
}
::ng-deep.mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: $lightGray;
}

::ng-deep.mat-sort-header-container {
  justify-content: center;
  padding-left: 20px;
}
.titulo {
  text-align: center;
  color: $lightGray;
  font-style: Roboto;
  font-size: 30px;
  font-weight: normal;
  width: 100%;
  display: block;
  height: 50px;
  margin-top: 50px;
}
th,
td {
  color: $lightGray;
  box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -webkit-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  text-align: center;
}

mat-label,
th,
td,
tr {
  text-align: center;
}
section {
  margin: 0 auto;
}

.codigo-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

table {
  width: 98%;
  margin: 0 auto;
  text-align: center;
}

.mat-form-field {
  width: 200px;
  border-color: black;
}

::ng-deep.exito.mat-snack-bar-container {
  text-align: center;
  background: green;
  color: white;
}
::ng-deep.mat-select-value,
::ng-deep.mat-select-arrow {
  color: $lightGray;
}
.menu-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-button .mat-button-base {
  margin: 8px 8px 8px 0;
}

.containerTablaBitacora {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.paginator {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: $heavyblue;
  color: $lightGray;
  box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -webkit-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
}

.tableContainer {
  margin: 0 auto;
  width: 100%;
  background-color: $heavyblue;
}

::ng-deep.error.mat-snack-bar-container {
  text-align: center;
  background: darkred;
  color: white;
}

.containerBtnExcel {
  display: flex;
  flex-direction: column;

  justify-content: right;
  max-width: 80vw;
  margin: auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}
