<mat-toolbar color="primary">
  <span id="span">HSVP</span>
  <span class="example-spacer"></span>
  <button (click)="redireccionarAdm('pagAdministrador')" mat-icon-button style="right: 40px;">
    <mat-icon>arrow_back</mat-icon> Regresar
  </button>
</mat-toolbar>


<section>
  <mat-label class="titulo">Bitácora de Recetas</mat-label>
  <br>

</section>

<div class="container containerBtnExcel">
  <div class="row">
    <div class="menu-button" style="text-align: right;">
      <button mat-raised-button color="primary" (click)="exportarArchivoCompleto()">Descargar Bitácora Completa</button>
      <button mat-raised-button color="accent" (click)="exportarArchivoFiltrado()">Descarga Bitácora con Filtro</button>
    </div>
  </div>
</div>

<div class="container containerTablaBitacora">
  <mat-form-field appearance="standard">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" autocomplete="off">
  </mat-form-field>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tableContainer" matSort>
    <!-- Columna idReceta-->
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Receta </th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>

    <!-- Columna cedulaPte-->
    <ng-container matColumnDef="cedula">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Identificación </th>
      <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
    </ng-container>

    <!-- Columna nombrePte-->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Columna medicamento-->
    <ng-container matColumnDef="nom_medicamento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Medicamento </th>
      <td mat-cell *matCellDef="let element"> {{element.nom_medicamento}} </td>
    </ng-container>

    <!-- Columna mensaje-->
    <ng-container matColumnDef="mensaje">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mensaje </th>
      <td mat-cell *matCellDef="let element"> {{element.mensaje}} </td>
    </ng-container>

    <!-- Columna usuario-->
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
    </ng-container>

    <!-- Columna fechaEntrada-->
    <ng-container matColumnDef="fecha_entrada">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Entrada </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_entrada | date: "dd/MM/yyyy"}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
    aria-label="Seleccionar página de elementos periódicos">
  </mat-paginator>

</div>