@use 'sass:map';
@use '@angular/material' as mat;
@use './app/mixins/theminPersonalizado' as th;
@import './sass/variables.scss';

@include mat.core();    

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: $heavyblue;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//mat-blue y mat-yellow

$my-primary: mat.define-palette(th.$paleta-azul, 900);
$my-accent: mat.define-palette(th.$paleta-amarilla, 700);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));
// $color-config:    mat.get-color-config($my-theme);
// $primary-palette: map.get($color-config, 'primary');
// $accent-palette:  map.get($color-config, 'accent');
// $warn-palette:    map.get($color-config, 'warn');



@include mat.core-theme($my-theme);

@include mat.button-theme($my-theme);

@include mat.toolbar-theme($my-theme);

@include mat.icon-theme($my-theme)
// @include mat.-theme($my-theme);