<form #formularioMensaje="ngForm">
    <h1 mat-dialog-title style="text-align: center;">Agregar Cantidad</h1>
    <div mat-dialog-content style="text-align: center;">
        <p>{{mensaje}}</p>
        <mat-form-field appearance="standard">
            <mat-label>Cantidad</mat-label>
            <input type="number" matInput [(ngModel)]="nuevaCantidad" name="nuevaCantidad" ngModel required>
        </mat-form-field>
    </div>
    <div mat-dialog-actions style="text-align: center;">
        <button mat-raised-button color="warn" (click)="onNoClick()" style="margin-left: 13px;">Cancelar</button>
        <button [disabled]="formularioMensaje.invalid" mat-button [mat-dialog-close]="btn" mat-flat-button
            color="primary" (click)="actualizarCantidad()">Aceptar</button>
    </div>
</form>