@import '../../../../sass/variables.scss';

::ng-deep.advertencia.mat-snack-bar-container {
    text-align: center;
    background: orangered;
    color: white;
}
::ng-deep.mat-dialog-container{

    background-color: $blue;
}
.titulo{
    color: $lightGray;
}
h1, div{
    color: $lightGray;
}
.mensajeContainer{
}