@use 'sass:map';
@use '@angular/material' as mat;
@import '../../../styles.scss';

.container{
  position: relative;
  margin: 45px 30px;
  display: flex;
  flex-direction: column;

}

.title{
  display: block;
  color: $lightGray;
  position: relative;
  left: 150px;
  font-size: 2.5rem;
  max-width: 800px;
  margin-bottom: 25px;
}

.rol{
  font-size: 1.8rem;
  position: relative;
  left: 150px;
  max-width: 400px;
  color: $lightGray;
}

.containerFlex{
  display: flex;
  width: 90vw;
  justify-content: space-around;
  margin: 0 auto;
}

.cardList{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 2;
}

.card{
  max-width: 300px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform ease 300ms, color ease 300ms;
  background-color: $heavyblue;
  box-shadow: none;
  color: $lightGray;
  margin: 15px;
}
.card:hover{
  transform: scaleX(110%) scaleY(110%);
  $color-config: mat.get-color-config($my-theme);
  $primary-palette: map.get($color-config, 'primary');
  color: mat.get-color-from-palette($primary-palette, 600);
}

.icon{
  font-size: 6rem;
  height: auto;
  width: auto;
}

@media screen and ( max-width: 900px){
  .containerFlex{
      flex-direction: column;
      align-items: center;
  }
}