<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>

<div class="container">
    <mat-label class="title">Bienvenido al Módulo de Autorizaciones</mat-label>
    <mat-label class="rol">Autorizador</mat-label>
</div>

<div class="container containerFlex">
    <div class="container cardList">
        <mat-card class="card" routerLink="/listaAutorizaciones">
            <mat-icon class="icon">spellcheck</mat-icon>
            <h2 class="cardTitle"> Autorizaciones </h2>
        </mat-card>
    </div>
</div>