@use "sass:map";
@use "@angular/material" as mat;
@import "../../../../styles.scss";

.container {
  width: 90%;
  height: 600px;
  margin: 0 auto;
}

.table{
  margin: 0 auto;
  background-color: $heavyblue;
  color: $lightGray;
  box-shadow: none;
  text-align: center;
}

.containerBusqueda {
  display: flex;
  margin-top: 70px;
}

.containerBusqueda-controls {
  padding: 40px;
  margin-top: 0px;
  flex: 1;
  display: inline-block;
}

.title {
  font-size: 30px;
  color: $lightGray;
  margin-top: 50px;
  display: block;
  text-align: center;
}

.description{
  font-size: 1.1rem;
  margin: 30px auto 10px auto;
  color: $lightGray;
}

.buscarPaciente {
  width: min(300px, 100%);
}

.containerTabla {
  padding: 20px;
  flex: 2;
  background-color: $heavyblue;
}

table {
  width: 100%;
}

.nombrePaciente {
  position: relative;
  right: 0;
  top: 0;
  color: $lightGray;
}
.card {
  max-width: 300px;
  width: 130px;
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  transition: transform ease 200ms, color ease 200ms;
  background-color: $heavyblue;
  color: $lightGray;
  margin-top: 15px;
  box-shadow: none;
  cursor: pointer;
}
.card:hover {
  transform: scaleX(110%) scaleY(110%);
  $color-config: mat.get-color-config($my-theme);
  $primary-palette: map.get($color-config, "primary");
  color: mat.get-color-from-palette($primary-palette, 600);
}
::ng-deep.exito.mat-snack-bar-container{
  text-align: center;
  background: green;
  color:white;
}
::ng-deep.mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: $lightGray;
}
::ng-deep.mat-cell{
  text-align: center !important;
}

mat-form-field {
  color: $lightGray;
  input {
      color: $lightGray;
  }
  mat-label {
      color: $lightGray;
  }
}

::ng-deep.msg-error.mat-snack-bar-container{
  text-align: center;
  background: orangered;
  color:white;
}
.cardTitle{
  cursor: pointer;
  font-size: 130%;
}
.icon {
  font-size: 2.5rem;
  height: auto;
  width: auto;
}
.nombrePaciente {
  font-size: 1.3rem;
  margin-left: 20px;
}

.controlers{
  display: flex;
  justify-content: space-between;
}

.example-spacer {
  flex: 1 1 auto;
}

::ng-deep.mat-select-value, ::ng-deep.mat-select-arrow{
  color: $lightGray;
}

::ng-deep.mat-sort-header-container{
  justify-content: center;
}
th,
td {
  color: $lightGray;
  box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -webkit-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  text-align: center !important;
}
mat-paginator{
  background-color: $heavyblue;
  box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -webkit-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  color: $lightGray;
}