<router-outlet></router-outlet>

<mat-toolbar color="primary">
  <span id="span">HSVP</span>
  <span class="example-spacer"></span>
  <button routerLink="/tecnicos" mat-icon-button style="right: 50px;">
    <mat-icon>arrow_back</mat-icon> Regresar
  </button>
</mat-toolbar>


<mat-label class="title">Historial de recetas por paciente</mat-label>
<div class="container containerBusqueda">

  <div class="containerBusqueda-controls">
    <p class="description">Ingrese la identificación del paciente</p>
    <div class="controlers">
      <mat-form-field class="buscarPaciente" appearance="standard">
        <mat-label>Identificación</mat-label>
        <input [(ngModel)]=identificacion matInput #postalCode maxlength="9" placeholder="111111111"
          (keyup.enter)="buscarPaciente()" type="number" required autocomplete="off">
        <mat-hint align="end">{{postalCode.value.length}} / 9</mat-hint>
      </mat-form-field>
      <mat-card  class="card" (click)="buscarPaciente()">
        <mat-icon class="icon">keyboard_arrow_right</mat-icon>
        <mat-label class="cardTitle"> Buscar </mat-label>
      </mat-card>
    </div>
  </div>
  <div class="containerTabla">
    <mat-form-field appearance="standard">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input autocomplete="off">
    </mat-form-field>
    <label class="nombrePaciente">{{nombre}}</label>
    <table mat-table [dataSource]="dataSource" class="table" matSort>
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
      <!-- Position Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef> Número de Receta </th>
        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="nom_medicamento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Medicamento </th>
        <td mat-cell *matCellDef="let element"> {{element.nom_medicamento}} </td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <ng-container matColumnDef="tecnico">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Técnico </th>
        <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
      </ng-container>

      <ng-container matColumnDef="responsable">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsable de retiro </th>
        <td mat-cell *matCellDef="let element"> {{element.responsable}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>