<router-outlet></router-outlet>

<mat-toolbar color="primary">
  <span id="span">HSVP</span>
  <span class="example-spacer"></span>
  <button routerLink="/administrador" mat-icon-button style="right: 70px;">
    <mat-icon>arrow_back</mat-icon> Regresar
  </button>
  <button routerLink="/login" mat-icon-button style="right: 10px;">
    <mat-icon>logout</mat-icon> Salir
  </button>
</mat-toolbar>



<mat-label class="title">Listado de Medicamentos</mat-label>

<div class="container containerTablaMedicamento">

  <div class="tableHeader">
    <mat-form-field appearance="standard" class="buscar">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" autocomplete="off">
    </mat-form-field>
    <mat-card class="agregarMedicamento" (click)="redireccionarCrearMedicamento()">
      <mat-icon class="icon">add</mat-icon>
      <mat-label class="crearUsuarioTitle"> Agregar Medicamento</mat-label>
    </mat-card>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tableContainer" matSort>

    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>

    <ng-container matColumnDef="nom_medicamento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nom_medicamento}} </td>
    </ng-container>

    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td class="btnTabla" mat-cell *matCellDef="let element;">
        <button mat-icon-button>
          <mat-icon routerLink="/editarMedicamento/{{element._id}}" class="tablaBtn" color="accent">border_color
          </mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon (click)=eliminarMedicamento(element._id) class="tablaBtn" color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 15, 20]" showFirstLastButtons class="paginator"></mat-paginator>
</div>