@import '../../../../sass/variables.scss';

.title{
    display: block;
    font-size: 2rem;
    color: $lightGray;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
::ng-deep.mat-form-field-appearance-standard .mat-form-field-underline {
    background-color: $lightGray;
}

mat-form-field {
    color: $lightGray;
    input {
        color: $lightGray;
    }
    mat-label {
        color: $lightGray;
    }
}

.tableContainer {
    margin: 0 auto;
    width: 90vw;
    background-color: $heavyblue;
    color: $lightGray;
    box-shadow: none;
}

.tableHeader {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.agregarMedicamento {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 170px;
    padding: 0;
    background-color: rgba($color: #000000, $alpha: 0);
    box-shadow: none;
    color: $lightGray;
    transition: transform ease 200ms, color ease 200ms;
}
.crearUsuarioTitle {
    height: 20px;
    margin-top: 2px;
    color: $lightGray;
    transition: color ease 200ms;
    width: 1000px;
}

::ng-deep.mat-select-value, ::ng-deep.mat-select-arrow{
    color: $lightGray;
}

::ng-deep.mat-sort-header-container{
    justify-content: center;
}
th,
td {
    color: $lightGray;
    box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    -webkit-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    -moz-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    text-align: center;
}
.agregarMedicamento:hover{
    cursor: pointer;
    transform: scale(110%, 110%);
    color: $accentBlue;
}
.containerTablaMedicamento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px auto;
}

th{
    text-align: center !important;
}

.mat-form-field {
    font-size: 14px;
}

.paginator {
    width: 90%;
    background-color: $heavyblue;
    color: $lightGray;
    box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    -webkit-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    -moz-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.tablaBtn {
    text-align: center;
    font-size: 20px;
}

.btnTabla{
    text-align: center;
}

.containerBtnCrear{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
    max-width: 80vw;
    margin: 0 auto;
}

::ng-deep.exito.mat-snack-bar-container{
    text-align: center;
    background: green;
    color:white;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}