@import '../../../../sass/variables.scss';

::ng-deep.mat-dialog-container{
  background-color: $blue;
}
::ng-deep.mat-select-value, ::ng-deep.mat-select-arrow{
  color: $lightGray;
}
mat-form-field {
  color: $lightGray;
  input {
      color: $lightGray;
  }
  mat-label {
      color: $lightGray;
  }
}
.title{
  color: $lightGray;
  font-size: 150%;
  display: block;
  text-align: center;
}
.claseForm0 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.claseForm1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.claseForm2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.claseForm3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.claseForm4 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.inputNombrePaciente {
  width: 250px;
  right: 1px;
}

.inputNombreMedicamento {
  width: 250px;
  right: 1px;
}

.inputIndicacion {
  width: 250px;
  right: 1px;
}

.btnBuscar {
  height: 40px;
  width: 100px;
  position: relative;
  margin: 0 auto;
  top: 10px;
}

.btnBuscarMedicamento {
  height: 40px;
  width: 100px;
  position: relative;
  margin: 0 auto;
  top: 10px;
}

.btnBuscarIndicacion {
  height: 40px;
  width: 100px;
  position: relative;
  margin: 0 auto;
  top: 10px;
}

.textareaMensaje{
  width: 600px;
}

.icon {
  font-size: 30px;
  position: relative;
  left: 50px;
  top: 20px;
  color: $lightGray;
}

::ng-deep.Exito.mat-snack-bar-container {
  text-align: center;
  background: green;
  color: white;
}

::ng-deep.Error.mat-snack-bar-container {
  text-align: center;
  background: darkred;
  color: white;
}

::ng-deep.Advertencia.mat-snack-bar-container {
  text-align: center;
  background: #e38102;
  color: black;
}

textarea.mat-input-element{
  background-color: $heavyblue;
  border-radius: 3px;
  padding: 10px;
  font-size: .8rem;
  width: 578px;
  max-height: 300px;
  height: 300;
  caret-color: $lightGray;
}
.textAreaTitle{
  color: $lightGray;
  font-size: .9rem;
}
.divTextArea{
  ::ng-deep.mat-form-field-ripple, ::ng-deep.mat-form-field-underline{
    background-color: $blue;
  }
}


