<div>

    <mat-label mat-dialog-title class="title">Registrar Receta</mat-label>
    <form #registrarForm0="ngForm" class="claseForm0">

        <!--Apartado Numero de Receta-->
        <div class="form-group">
            <mat-form-field class="inputNumReceta" appearance="standard">
                <mat-label>Número de Receta</mat-label>
                <input required autocomplete="off" maxlength="7" matInput type="text" name="_id" [(ngModel)]="_id"
                    (keydown.enter)="buscarReceta($any($event.target).value)">
            </mat-form-field>
        </div>

    </form>


    <form #registrarForm1="ngForm" class="claseForm1">

        <!-- Paciente -->

        <!--Apartado Cedula-->
        <div class="form-group">
            <mat-form-field class="inputCedula" appearance="standard">
                <mat-label>Identificación</mat-label>
                <input required autocomplete="off" matInput type="text" class="form-control" name="cedula"
                    (keyup)="buscarPaciente()" [(ngModel)]="cedula">
            </mat-form-field>
        </div>
        <mat-icon class="icon">keyboard_arrow_right</mat-icon>

        <!--Apartado Nombre-->
        <div class="form-group">
            <mat-form-field class="inputNombrePaciente" appearance="standard">
                <mat-label>Nombre del Paciente</mat-label>
                <input matInput readonly class="form-control" name="nombre" disabled [(ngModel)]="nombre">
            </mat-form-field>
        </div>
    </form>


    <form #registrarForm2="ngForm" class="claseForm2">

        <!-- Medicamento BP -->

        <!--Apartado Codigo Medicamento-->
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="standard">
                <mat-label>Código Medicamento</mat-label>
                <input required autocomplete="off" matInput type="text" class="form-control" name="cod_medicamento"
                    [(ngModel)]="cod_medicamento" (keyup)="buscarMedicamento()">
            </mat-form-field>
        </div>
        <mat-icon class="icon">keyboard_arrow_right</mat-icon>


        <!--Apartado Nombre Medicamento-->
        <div class="form-group">
            <mat-form-field class="inputNombreMedicamento" appearance="standard">
                <mat-label>Medicamento</mat-label>
                <input matInput readonly class="form-control" disabled name="nom_medicamento"
                    [(ngModel)]="nom_medicamento">
            </mat-form-field>
        </div>
    </form>

    <!-- Mensaje-->
    <form #mensajeForm="ngForm">
        <div *ngIf="mostrarMensaje" class="form-group divTextArea">
            <mat-label class="textAreaTitle">Este paciente retiró el medicamento en menos de 30 días, si desea continuar
                por favor escriba una justificación.</mat-label>
            <mat-form-field class="textareaMensaje" appearance="standard">
                <textarea required matInput class="form-control textArea" name="mensaje" [(ngModel)]="mensaje"
                    minlength="15"></textarea>
            </mat-form-field>
        </div>
    </form>

    <form #registrarForm3="ngForm" class="claseForm3">

        <!-- Indicacion -->

        <!--Apartado Codigo Indicacion-->
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="standard">
                <mat-label>Código Indicación</mat-label>
                <input required matInput type="text" class="form-control" autocomplete="off" name="cod_indicacion"
                    [(ngModel)]="cod_indicacion" (keyup)="buscarIndicacion()">
            </mat-form-field>
        </div>
        <mat-icon class="icon">keyboard_arrow_right</mat-icon>

        <!--Apartado Nombre Indicacion-->
        <div class="form-group">
            <mat-form-field class="inputIndicacion" appearance="standard">
                <mat-label>Indicación</mat-label>
                <input matInput readonly disabled class="form-control" name="nom_indicacion"
                    [(ngModel)]="nom_indicacion">
            </mat-form-field>
        </div>
    </form>

    <form #registrarForm4="ngForm" class="claseForm4">

        <!--Apartado Cantidad-->
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="standard">
                <mat-label>Cantidad</mat-label>
                <input required matInput type="number" class="form-control" name="cantidad" [(ngModel)]="cantidad">
            </mat-form-field>
        </div>


        <!--Botones Cancelar y Aceptar-->
        <div mat-dialog-actions style="text-align: center; justify-content: center;">
            <button mat-raised-button (click)="onNoClick()" color="accent">Cancelar</button>
            <button [disabled]="registrarForm0.invalid || 
                        validarPaciente != true || validarMedicamento!= true || validarIndicacion !=true ||  
                        registrarForm1.invalid || registrarForm2.invalid || mensajeForm.invalid ||
                        registrarForm3.invalid || registrarForm4.invalid " mat-flat-button color="primary"
                type="submit" (click)="registrarReceta(registrarForm2)" [mat-dialog-close]="btnRegi">Aceptar</button>
        </div>
    </form>