<router-outlet></router-outlet>

<mat-toolbar color="primary">
    <span id="span">HSVP</span>
    <span class="example-spacer"></span>
    <button routerLink="/autorizaciones" mat-icon-button style="right: 70px;">
        <mat-icon>arrow_back</mat-icon> Regresar
    </button>
    <button routerLink="/login" mat-icon-button style="right: 10px;">
        <mat-icon>logout</mat-icon> Salir
    </button>
</mat-toolbar>

<mat-label class="h2">Listado de Autorizaciones</mat-label>


<div class="containerTablaAutorizaciones">
    <div class="containerCrear">
        <!--Filtro-->
        <mat-form-field appearance="standard" class="buscar">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" autocomplete="off">
        </mat-form-field>
        <mat-card class="crearUsuario" (click)="redireccionarCrearAutorizacion()">
            <mat-icon class="icon">add</mat-icon>
            <mat-label class="crearUsuarioTitle"> Crear Autorización </mat-label>
        </mat-card>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tableContainer">
        <!--Columna Cedula-->
        <ng-container matColumnDef="cedula">
            <th mat-header-cell *matHeaderCellDef> Identificación </th>
            <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
        </ng-container>

        <!--Columna Nombre Pte-->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre de paciente </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!--Columna Nombre Medicamento-->
        <ng-container matColumnDef="nom_medicamento">
            <th mat-header-cell *matHeaderCellDef> Nombre de medicamento </th>
            <td mat-cell *matCellDef="let element"> {{element.nom_medicamento}} </td>
        </ng-container>

        <!--Columna Clave Inicial-->
        <ng-container matColumnDef="clave_inicial">
            <th mat-header-cell *matHeaderCellDef> Clave inicial </th>
            <td mat-cell *matCellDef="let element"> {{element.clave_inicial}} </td>
        </ng-container>

        <!--Columna Clave Continuacion-->
        <ng-container matColumnDef="clave_continuacion">
            <th mat-header-cell *matHeaderCellDef> Clave de continuacion </th>
            <td mat-cell *matCellDef="let element"> {{element.clave_continuacion}} </td>
        </ng-container>

        <!--Columna Médico-->
        <ng-container matColumnDef="medico">
            <th mat-header-cell *matHeaderCellDef> Médico </th>
            <td mat-cell *matCellDef="let element"> {{element.medico}} </td>
        </ng-container>

        <!--Columna Estado-->
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>

        <!--Columna Cantidad de Retiros-->
        <ng-container matColumnDef="cantidad_retiros">
            <th mat-header-cell *matHeaderCellDef> Retiros </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad_retiros}} </td>
        </ng-container>

        <!--Contenedor Btns Editar - Eliminar-->
        <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button>
                    <mat-icon routerLink="/editarAutorizacion/{{ element._id }}" class="tablaBtn" color="accent">
                        border_color</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon (click)="eliminarAutorizacion(element._id)" color="warn">delete</mat-icon>
                </button>


            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons class="paginator"></mat-paginator>
</div>