@import "../../../../sass/variables.scss";

.h2 {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  max-width: 80vw;
  margin: 30px auto 0 auto ;
  font-style: Roboto;
  color: $lightGray;
}
.crearUsuario{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 150px;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: rgba($color: #000000, $alpha: 0);
  box-shadow: none;
  color: $lightGray;
  transition: transform ease 200ms, color ease 200ms;
}
.crearUsuarioTitle {
  height: 20px;
  color: $lightGray;
  transition: color ease 200ms;
}
.crearUsuario:hover{
  cursor: pointer;
  transform: scale(110%, 110%);
  color: $accentBlue;
}

.containerCrear {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
}
.buscar{
  max-width: 200px;
}
mat-form-field,
mat-label,
input {
    color: $lightGray;
}
::ng-deep.mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: $lightGray;
}
.containerTablaAutorizaciones {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 97vw;
  margin: 0 auto;
}
.tableContainer {
  margin: 0 auto;
  width: 80%;
  background-color: $heavyblue;
}
th,
td {
    color: $lightGray;
    box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    -webkit-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    -moz-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    text-align: center !important;
}

.buttons-container button {
  margin-right: 40px;
  margin-bottom: 20px;
  font-size: 1rem;
  padding: 0px 10px;
}
td button {
  margin-left: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-label,
th,
td,
tr {
  text-align: center;
}
.paginator {
  width: 80%;
  background-color: $heavyblue;
  color: $lightGray;
  box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -webkit-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

::ng-deep.mat-select-value, ::ng-deep.mat-select-arrow{
  color: $lightGray;
}

::ng-deep.mat-sort-header-container{
  justify-content: center;
}

::ng-deep.Exito.mat-snack-bar-container {
  text-align: center;
  background: green;
  color: white;
}

::ng-deep.Error.mat-snack-bar-container {
  text-align: center;
  background: red;
  color: white;
}
