@use 'sass:map';
@use '@angular/material' as mat;
@import '../../../styles.scss';
@import '../../../sass/variables.scss';

.container{
    position: relative;
    margin: 50px 30px;
}
.header{
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    position: relative;
    left: 150px;
    font-size: 2.5rem;
    max-width: 400px;
    
}
.rol{
    font-size: 1.8rem;
    position: relative;
    left: 150px;
    max-width: 400px;
}
.title, .rol{
    color: $lightGray;
}

table{
    width: 45%;
}

.card{
    max-width: 300px;
    width: 150px;
    height: 150px;
    margin: 5px;
    display: flex;
    background-color: rgba($color: #000000, $alpha: 0);
    box-shadow: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform ease 300ms, color ease 300ms;
    color: $lightBlue;
}
.icon{
    font-size: 6rem;
    height: auto;
    width: auto;
}
.card:hover{
    transform: scaleX(110%) scaleY(110%);
    color: $accentBlue;
}

.containerFlex{
    display: flex;
    width: 100%;
    height: min(500px, 100%);
    justify-content: space-around;
    margin: 0 auto;
}

.chart{
    max-height: 400px;
    max-width: 400px;
    background-color: $lightGray;
    padding: 40px;
}

.cardList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 100px;
    flex: 2.2;
}
.chartList{
    flex: 4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 15px;
    margin-top: 0;
}

.tableContainer{
    width: 40%;
}
.tableTitle{
    font-size: 1.3rem;
    text-align: center;
    color: $lightGray;
    margin-right: 50px;
}
.table{
    width: 100%;
    background-color: $heavyblue;
    box-shadow: none;
}
th, td{
    color: $lightGray;
}