<router-outlet></router-outlet>

<app-nav-bar></app-nav-bar>


<div class="header">
  <h1 class="title">Bienvenido</h1>
  <p class="rol">Administrador</p>
</div>

<div class="container containerFlex">

  <div class="container cardList">
    <mat-card class="card" routerLink="/UsuariosLista">
      <mat-icon class="icon">computer</mat-icon>
      <h2 class="cardTitle"> Usuarios </h2>
    </mat-card>
    <mat-card class="card" routerLink="/MedicamentosLista">
      <mat-icon class="icon">local_pharmacy</mat-icon>
      <h2 class="cardTitle"> Medicamentos </h2>
    </mat-card>
    <mat-card class="card" routerLink="/bitacora">
      <mat-icon class="icon">list_alt</mat-icon>
      <h2 class="cardTitle"> Bitácoras </h2>
    </mat-card>
  </div>

  <div class="container chartList">
    <canvas id="reintegros" class="chart" style="color: #7996C3" height="300" width="300"></canvas>
    <div class="tableContainer">
      <p class="tableTitle">Menores Existencias en Bodega General</p>
      <table mat-table [dataSource]="medicamentosJSON" class="mat-elevation-z8 table">

        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef> Medicamento </th>
          <td mat-cell *matCellDef="let element"> {{element.nom_medicamento}} </td>
        </ng-container>
        <ng-container matColumnDef="Cantidad">
          <th mat-header-cell *matHeaderCellDef> Unidades </th>
          <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>

</div>