<app-nav-bar></app-nav-bar>


<mat-label class="h1">Bodega General</mat-label>



<div class="container containerTablaBG">

  <div class="containerCrear">
    <!--Filtro tabla -->
    <mat-form-field appearance="standard" class="buscar">
      <mat-label>Consultar medicamento</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input  autocomplete="off">
    </mat-form-field>
    <mat-card class="crearUsuario" (click)="openDialogBG()">
      <mat-icon class="icon">add</mat-icon>
      <mat-label class="crearUsuarioTitle"> Ingresar medicamento </mat-label>
    </mat-card>

  </div>
  <!-- Tabla medicamentos bodega general-->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tableContainer" matSort>

    <!-- Columna Código de medicamento -->
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>

    <!-- Columna Nombre de medicamento -->
    <ng-container matColumnDef="nom_medicamento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nom_medicamento}} </td>
    </ng-container>

    <!-- Columna Cantidad de medicamento -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>

    <!-- Columna Cantidad de medicamento en BODEGA DE PASO -->
    <ng-container matColumnDef="cantidadBp">
      <th mat-header-cell *matHeaderCellDef> Cantidad en Bodega de Paso </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidadBp}}
      </td>
    </ng-container>


    <!-- Columna Ingresar Medicamento -->
    <ng-container matColumnDef="agregar">
      <th mat-header-cell *matHeaderCellDef>Agregar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button>
          <mat-icon class="accion agregar" (click)="abrirMensaje(element._id, element.cantidad,
         element.nom_medicamento, 'Agregar')">add_circle</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Columna Despachar Medicamento -->
    <ng-container matColumnDef="despachar">
      <th mat-header-cell *matHeaderCellDef> Despachar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button>
          <mat-icon class="accion eliminar" (click)="abrirMensaje(element._id, element.cantidad,
        element.nom_medicamento, 'Despachar')">remove_circle</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay datos que coincidan con "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
    aria-label="Seleccionar página de elementos periódicos">
  </mat-paginator>
</div>