@import "../../../sass/variables.scss";

.h1{
  display: block;
  text-align: center;
  color: $lightGray;
  font-size: 1.8rem;
  margin-top: 30px;
}

.buscar{
  max-width: 200px;
  margin: 0;
}
.containerCrear {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.tableContainer {
  margin: 0 auto;
  width: 80%;
  background-color: $heavyblue;
}
th,
td {
    color: $lightGray;
    box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    -webkit-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    -moz-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    text-align: center !important;
}
mat-label,
th,
td,
tr {
  text-align: center !important;
}

.crearUsuario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 170px;
  padding: 0;
  background-color: rgba($color: #000000, $alpha: 0);
  box-shadow: none;
  color: $lightGray;
  transition: transform ease 200ms, color ease 200ms;
  margin-top: 30px;
}
.crearUsuarioTitle {
  height: 20px;
  margin-top: 2px;
  color: $lightGray;
  transition: color ease 200ms;
}
.crearUsuario:hover{
  cursor: pointer;
  transform: scale(110%, 110%);
  color: $accentBlue;
}


.paginator {
  width: 80%;
  background-color: $heavyblue;
  color: $lightGray;
  box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -webkit-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

::ng-deep.mat-select-value, ::ng-deep.mat-select-arrow{
  color: $lightGray;
}

::ng-deep.mat-sort-header-container{
  justify-content: center;
}

::ng-deep.mat-form-field{
  margin: 0;
}

mat-form-field,
mat-label,
input {
    color: $lightGray;
}
::ng-deep.mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: $lightGray;
}

.codigo-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

::ng-deep.exito.mat-snack-bar-container {
  text-align: center;
  background: green;
  color: white;
}
.menu-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.containerTablaBG {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.paginator {
  width: 80%;
  margin: 0 auto;
}

.tableContainer {
  margin: 0 auto;
  width: 80%;
}

::ng-deep.error.mat-snack-bar-container {
  text-align: center;
  background: darkred;
  color: white;
}

.accion{
  color: $lightGray;
  transition: color ease 200ms, transform ease 200ms;
}
.agregar:hover{
  color: $accentBlue;
  transform: scale(120%, 120%);
}
.eliminar:hover{
  color:#ba1122;
  transform: scale(120%, 120%);
}