@use "sass:map";
@use "@angular/material" as mat;
@import "../../../styles.scss";
@import "../../../sass/variables.scss";

$color-config: mat.get-color-config($my-theme);
$primary-palette: map.get($color-config, "primary");
$blue: mat.get-color-from-palette($primary-palette, 600);
$light-blue: mat.get-color-from-palette($primary-palette, 800);

:host {
    background: url('./cover.svg'), url('./hospital.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.form-container {
    margin-right: 6vw;
    width: 400px;
    height: 200px;
    display: block;
    padding: 70px;
    border-radius: 10px;
    background-color: rgba($lightBlue, $alpha: 1);
    border-radius: 10px;
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
    .form-container {
        min-width: 80vw;
    }
}
.form-title {
    margin: 0 0 10px 0;
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
::ng-deep.error.mat-snack-bar-container {
    background-color: red;
    color: white;
}

mat-form-field,
mat-card-title,
input,
mat-label, button {
    color: $heavyGray;
    font-size: .8rem;
}
mat-form-field{
    width: 100%;
}

button{

}