<router-outlet></router-outlet>
<div class="form-container">
    <p class="form-title">Inicio de sesión</p>
    <mat-card-content class="card-content">
        <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput autocomplete="off" [(ngModel)]="usuario">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input [type]="'password'" matInput autocomplete="off" [(ngModel)]="clave">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="iniciarSesion()">Ingresar</button>
    </mat-card-content>
</div>