<mat-label class="titulo">Ingresar Medicamento</mat-label>
<form #ingresarForm="ngForm">
  <!-- <input type="hidden" name="_id" [(ngModel)]="codigo"> -->

  <div class="form-group">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Código Medicamento</mat-label>
      <input required matInput type="text" class="form-control" name="_id" [(ngModel)]="_id" required
        autocomplete="off">
    </mat-form-field>
  </div>

  <div style="margin-bottom: 10px; text-align: center;">
    <button mat-raised-button color="accent" [disabled]="ingresarForm.invalid" type="button" (click)="bpIngresoMedicamento()">
      Buscar
    </button>
  </div>

  <div class="form-group">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Medicamento</mat-label>
      <input matInput #postalCode readonly class="form-control" [(ngModel)]="nom_medicamento" name="nom_medicamento">
    </mat-form-field>
  </div>
</form>

<form #ingresarForm2="ngForm">
  <div class="form-group">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Cantidad</mat-label>
      <input required matInput #postalCode maxlength="5" type="number" class="form-control" [(ngModel)]="cantidad"
        name="cantidad">
    </mat-form-field>
  </div>

  <!--Botones Cancelar y Aceptar-->
  <div mat-dialog- style="text-align: center;">
    <button mat-raised-button (click)="onNoClick()" style="margin-right: 10px;" color="warn" type="button">Cancelar</button>

    <button mat-button [mat-dialog-close]="btn" cdkFocusInitial type="submit" mat-flat-button color="primary"
      [disabled]="ingresarForm.invalid || ingresarForm2.invalid" (click)="agregarBpMedicamento(ingresarForm)">
      Aceptar
    </button>
  </div>
</form>