@import "../../../../sass/variables.scss";
.claseForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.claseForm1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.claseForm2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.inputNombrePaciente {
  width: 250px;
  right: 1px;
}

.btnBuscar {
  height: 40px;
  width: 100px;
  position: relative;
  margin: 0 auto;
  top: 10px;
}

::ng-deep.Exito.mat-snack-bar-container {
  text-align: center;
  background: green;
  color: white;
}

::ng-deep.Error.mat-snack-bar-container {
  text-align: center;
  background: darkred;
  color: white;
}

::ng-deep.Advertencia.mat-snack-bar-container {
  text-align: center;
  background: #e38102;
  color: black;
}
::ng-deep.mat-dialog-container {
  background-color: $blue;
}
.titulo {
  color: $lightGray;
}
::ng-deep.mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: $lightGray;
}
mat-form-field {
  color: $lightGray;
  input {
    color: $lightGray;
  }
  mat-label {
    color: $lightGray;
  }
}
.formTitle {
  color: $lightGray;
  font-size: 1.5rem;
}
