<div class="mensajeContainer">
    <h1 mat-dialog-title class="titulo">Entrega de Medicamentos</h1>
    <form #entregarForm="ngForm" class="claseForm">

        <!--Apartado Numero de Receta-->
        <div class="form-group">
            <mat-form-field class="inputNumReceta" appearance="standard">
                <mat-label>Número de Receta</mat-label>
                <input required autocomplete="off" matInput type="text" maxlength="7" name="_id" [(ngModel)]="_id">
                <!--(keydown.enter)="buscarReceta($any($event.target).value)"-->
            </mat-form-field>
        </div>

        <button class="btnBuscar" color="primary" mat-raised-button [disabled]="entregarForm.invalid" type="button"
            (click)="buscarNumReceta(entregarForm)"> Buscar
            <mat-icon>search</mat-icon>
        </button>

    </form>


    <form #entregarForm1="ngForm" class="claseForm1">

        <!--Apartado Cedula-->
        <div class="form-group">
            <mat-form-field class="inputCedula" appearance="standard">
                <mat-label>Identificación</mat-label>
                <input matInput readonly class="form-control" name="cedula" [(ngModel)]="cedula">
            </mat-form-field>
        </div>

        <!--Apartado Nombre-->
        <div class="form-group">
            <mat-form-field class="inputNombrePaciente" appearance="standard">
                <mat-label>Nombre del Paciente</mat-label>
                <input matInput readonly class="form-control" name="nombre" [(ngModel)]="nombre">
            </mat-form-field>
        </div>


        <!--Apartado Codigo Medicamento-->
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="standard">
                <mat-label>Código Medicamento</mat-label>
                <input matInput readonly class="form-control" name="cod_medicamento" [(ngModel)]="cod_medicamento">
            </mat-form-field>
        </div>


        <!--Apartado Nombre Medicamento-->
        <div class="form-group">
            <mat-form-field class="inputNombreMedicamento" appearance="standard">
                <mat-label>Medicamento</mat-label>
                <input matInput readonly class="form-control" name="nom_medicamento" [(ngModel)]="nom_medicamento">
            </mat-form-field>
        </div>

        <!--Apartado Cantidad-->
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="standard">
                <mat-label>Cantidad</mat-label>
                <input matInput readonly class="form-control" name="cantidad" [(ngModel)]="cantidad">
            </mat-form-field>
        </div>

    </form>



    <form #entregarForm2="ngForm" class="claseForm2">
        <mat-label class="formTitle">Persona responsable que Retira</mat-label>

        <!--Apartado Responsable-->
        <div class="form-group">
            <mat-form-field class="inputResponsable" appearance="standard">
                <mat-label>Nombre Completo</mat-label>
                <input required matInput type="text" name="responsable" [(ngModel)]="responsable" maxlength="65">
            </mat-form-field>
        </div>

        <!--Botones Cancelar y Aceptar-->
        <div mat-dialog-actions style="text-align: center; justify-content: center;">
            <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
            <button [disabled]="entregarForm.invalid || entregarForm2.invalid" mat-raised-button color="primary"
                type="submit" [mat-dialog-close]="btn" (click)="guardarRetiro()">Aceptar</button>
        </div>

    </form>

</div>