<router-outlet></router-outlet>

<mat-toolbar color="primary">
  <span id="span">HSVP</span>
  <span class="example-spacer"></span>
  <button routerLink="/listaAutorizaciones" mat-icon-button style="right: 40px;">
    <mat-icon>arrow_back</mat-icon> Regresar
  </button>
</mat-toolbar>

<mat-label class="h2">Crear Nueva Autorización</mat-label>

<mat-card class="form-container">
  <!-- Formulario de Autorizaciones -->
  <form #autorizacionesForm="ngForm" class="form">

    <!-- Cédula -->
    <mat-form-field appearance="standard">
      <mat-label>Identificación</mat-label>
      <input matInput name="cedula" type="number" [(ngModel)]="cedula"
        (keydown.enter)="buscarPaciente($any($event.target).value)" autocomplete="off" required>
    </mat-form-field>

    <!-- Nombre Pte -->
    <mat-label class="disabledField" required>{{nombre}}</mat-label>

    <!-- Diagnostico -->
    <mat-form-field appearance="standard">
      <mat-label>Diagnóstico</mat-label>
      <input matInput name="diagnostico" [(ngModel)]="diagnostico" autocomplete="off" required>
    </mat-form-field>

    <!-- Código de Medicamento -->
    <mat-form-field appearance="standard">
      <mat-label>Código de medicamento</mat-label>
      <input matInput placeholder="1-11-11-1111" type="text" name="cod_medicamento" [(ngModel)]="cod_medicamento"
        (keyup.enter)="buscarMedicamento($any($event.target).value)" autocomplete="off" required>
    </mat-form-field>

    <mat-label class="disabledField">{{nom_medicamento}}</mat-label>

    <!-- Dosis -->
    <mat-form-field appearance="standard">
      <mat-label>Dosis</mat-label>
      <input matInput type="text" autocomplete="off" name="dosis" [(ngModel)]="dosis" autocomplete="off" required>
    </mat-form-field>

    <!-- Clave Inicial -->
    <mat-form-field appearance="standard">
      <mat-label>Clave inicial</mat-label>
      <input matInput placeholder="HSVP-CLF-###-##-##" type="text" name="clave_inicial" [(ngModel)]="clave_inicial"
        (keyup.enter)="buscarClaveInicio($any($event.target).value)" autocomplete="off" required>
      <!--  -->
    </mat-form-field>

    <!-- Clave Continuación -->
    <mat-form-field appearance="standard">
      <mat-label>Clave de continuación</mat-label>
      <input matInput placeholder="HSVP-CLF-###-##-##" name="clave_continuacion" [(ngModel)]="clave_continuacion"
        autocomplete="off" required>
    </mat-form-field>

    <!-- Médico -->
    <mat-form-field appearance="standard">
      <mat-label>Médico</mat-label>
      <input matInput placeholder="Nombre del Médico" name="medico" [(ngModel)]="medico" autocomplete="off" required>
    </mat-form-field>

    <!-- Especialidad de Médico -->
    <mat-form-field appearance="standard">
      <mat-label>Especialidad</mat-label>
      <input matInput placeholder="Especialidad del Médico" name="especialidad" [(ngModel)]="especialidad"
        autocomplete="off" required>
    </mat-form-field>
    <!-- Estado de Autorización -->
    <mat-form-field appearance="standard">
      <mat-label>Estado</mat-label>
      <mat-select [(ngModel)]="estado" name="estado" required>
        <mat-option *ngFor="let estado of estados" [value]="estado.value">
          {{estado.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Cantidad de Retiros Autorizados -->
    <mat-form-field appearance="standard">
      <mat-label>Retiros Autorizados</mat-label>
      <input matInput placeholder="Cantidad" type="number" name="cantidad_retiros" [(ngModel)]="cantidad_retiros"
        autocomplete="off" required>
    </mat-form-field>
  </form>
  <form class="buttonsForm">
    <div class="buttons-container">
      <button mat-raised-button color="warn" routerLink="/listaAutorizaciones">Cancelar</button>
      <button mat-raised-button color="primary" (click)="registrarAutorizacion(autorizacionesForm)" [disabled]="autorizacionesForm.invalid ||
      nombre.length < 1 || nom_medicamento.length < 1" class="btnFormulario">Crear</button>
    </div>
  </form>
</mat-card>