@import "../../../../sass/variables.scss";

.title{
    color: $lightGray;
    font-size: 2rem;
    height: 50px;
    margin-top: 40px;
    text-align: center;
    position: relative;
    display: block;
}

.tableContainer {
    margin: 0 auto;
    width: 90vw;
    background-color: $heavyblue;
    color: $lightGray;
    box-shadow: none;
}

th,
td {
    color: $lightGray;
    box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    -webkit-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    -moz-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
}

.containerTablaUsuario {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    max-width: 90vw;
    margin: 0 auto;
}

.tableHeader {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

mat-form-field,
mat-label,
input {
    color: $lightGray;
}

.crearUsuario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    padding: 0;
    background-color: rgba($color: #000000, $alpha: 0);
    box-shadow: none;
    color: $lightGray;
    transition: transform ease 200ms, color ease 200ms;
}
.crearUsuarioTitle {
    height: 20px;
    margin-top: 2px;
    color: $lightGray;
    transition: color ease 200ms;
}
.crearUsuario:hover{
    cursor: pointer;
    transform: scale(110%, 110%);
    color: $accentBlue;
}

.mat-form-field {
    font-size: 14px;
}

.paginator {
    width: 90vw;
    background-color: $heavyblue;
    color: $lightGray;
    box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    -webkit-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    -moz-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

::ng-deep.mat-select-value, ::ng-deep.mat-select-arrow{
    color: $lightGray;
}

::ng-deep.mat-sort-header-container{
    justify-content: center;
}

.tablaBtn {
    display: table-cell;
    font-size: 10px;
    margin-left: 8px;
    min-width: 10px;
}

::ng-deep.exito.mat-snack-bar-container {
    text-align: center;
    background: green;
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

mat-label,
th,
td,
tr {
    text-align: center;
}
th,
td {
    padding-right: 0px;
}
ng-container {
    padding-left: 0;
}
