<router-outlet></router-outlet>

<mat-toolbar color="primary">
  <span id="span">HSVP</span>
  <span class="example-spacer"></span>
  <button routerLink="/administrador" mat-icon-button style="right: 70px;">
    <mat-icon>arrow_back</mat-icon> Regresar
  </button>
  <button routerLink="/login" mat-icon-button style="right: 10px;">
    <mat-icon>logout</mat-icon> Salir
  </button>
</mat-toolbar>


<mat-label class="title">Listado de Usuarios</mat-label>



<div class="container containerTablaMedicamento">
  <div class="tableHeader">

    <mat-form-field appearance="standard">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" autocomplete="off">
    </mat-form-field>
      <mat-card class="crearUsuario" (click)="redireccionarCrearUsuario()">
        <mat-icon class="icon">add</mat-icon>
        <mat-label class="crearUsuarioTitle"> Crear Usuario </mat-label>
      </mat-card>

  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tableContainer" matSort>
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Identificación </th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header width="8%"> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="apellido1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Primer Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido1}} </td>
    </ng-container>

    <ng-container matColumnDef="apellido2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Segundo Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido2}} </td>
    </ng-container>

    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo Electrónico </th>
      <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
      <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button routerLink="/editarUsuario/{{ element._id }}" mat-raised-button class="tablaBtn"
          color="accent">Editar</button>
        <button (click)="eliminarUsuario(element._id)" mat-raised-button class="tablaBtn" color="warn">Eliminar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 15, 20]" showFirstLastButtons class="paginator"></mat-paginator>
</div>