@import '../../../../sass/variables.scss';

::ng-deep.Exito.mat-snack-bar-container{
    text-align: center;
    background: green;
    color: white;
}

::ng-deep.Error.mat-snack-bar-container{
    text-align: center;
    background: darkred;
    color: white;
}

::ng-deep.Advertencia.mat-snack-bar-container{
    text-align: center;
    background: #E38102;
    color: black;
}

.titulo{
    text-align: center;
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}

::ng-deep.mat-dialog-container{

    background-color: $blue;
}
::ng-deep.mat-form-field-appearance-standard .mat-form-field-underline {
    background-color: $lightGray;
  }
  
  ::ng-deep.mat-inpu-element{
    background-color: $lightGray;
  }

h1, div, mat-label, input{
    color: $lightGray;
}