@use "sass:map";
@use "@angular/material" as mat;
@import "../../../styles.scss";

.container {
  padding: 30px;
  margin: 0 auto;
}
.header {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.headerTitle {
  font-size: 3rem;
  margin-top: 10px;
  color: $lightGray;
}

.headerDescription {
  font-size: 1.5rem;
  margin-top: 40px;
  color: $lightGray;
}

.cardList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 2;
}
.card{
  max-width: 300px;
  width: 150px;
  height: 150px;
  margin: 5px;
  display: flex;
  background-color: rgba($color: #000000, $alpha: 0);
  box-shadow: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform ease 300ms, color ease 300ms;
  color: $lightBlue;
  text-align: center;
}
.card:hover {
  transform: scaleX(110%) scaleY(110%);
  $color-config: mat.get-color-config($my-theme);
  $primary-palette: map.get($color-config, "primary");
  color: mat.get-color-from-palette($primary-palette, 600);
}
.cardTitle{
  font-size: 1.3rem;
}

.icon {
  font-size: 6rem;
  height: auto;
  width: auto;
}
::ng-deep.exito.mat-snack-bar-container {
  text-align: center;
  background: green;
  color: white;
}

::ng-deep.msg-error.mat-snack-bar-container {
  text-align: center;
  background: orangered;
  color: white;
}

.mat-dialog-container {
  background: green;
}
