<app-nav-bar></app-nav-bar>

<div class="container">

  <div class="header">
    <h1 class="headerTitle">Módulo de técnicos</h1>
    <p class="headerDescription">Seleccione la función a realizar</p>
  </div>
  <div class="cardList">
    <mat-card class="card" routerLink="/consultarPerfil">
      <mat-icon class="icon">search</mat-icon>
      <mat-label class="cardTitle"> Consultar perfil de paciente </mat-label>
    </mat-card>
    <mat-card class="card" (click)="mensajeConsultaAutorizacion()">
      <mat-icon class="icon">done_outline</mat-icon>
      <mat-label class="cardTitle"> Consultar Autorizaciones </mat-label>
    </mat-card>
    <mat-card class="card" (click)="abrirMensajeRegistrar()">
      <mat-icon class="icon">description</mat-icon>
      <mat-label class="cardTitle"> Registrar recetas </mat-label>
    </mat-card>
    <mat-card class="card" (click)="abrirMensajeEntregarMedicamentos()">
      <!-- routerLink="../entrega" 
      (click)="abrirMensajeEntregarMedicamentos()" -->
      <mat-icon class="icon">local_hospital</mat-icon>
      <mat-label class="cardTitle"> Entrega de medicamentos </mat-label>
    </mat-card>
    <mat-card class="card" (click)="mensajeReintegro()">
      <mat-icon class="icon">assignment_return</mat-icon>
      <mat-label class="cardTitle"> Reintegro de recetas </mat-label>
    </mat-card>
  </div>
</div>