<mat-label class="titulo">Consultar Autorizaciones</mat-label>
<form #consultarAutorizacion="ngForm" class="claseForm">
  <div class="form-group">
    <mat-form-field appearance="standard">
      <mat-label>Identificación</mat-label>
      <input matInput type="number" class="form-control" name="cedula" [(ngModel)]="cedula" required autocomplete="off">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="standard">
      <mat-label>Código Medicamento</mat-label>
      <input matInput type="text" class="form-control" name="cod_medicamento" [(ngModel)]="cod_medicamento" required
        autocomplete="off">
    </mat-form-field>
  </div>

  <button class="btnBuscar" mat-raised-button [disabled]="consultarAutorizacion.invalid" type="submit"
    (click)="consultarAut()" (keyup.enter)="consultarAut()">
    Buscar
  </button>
</form>

<div [hidden]="!mostrarLista" class="container containerTablaMedicamento">

  <mat-form-field appearance="standard" class="filtro">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" color="primary" placeholder="Buscar" autocomplete="off">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tableContainer" matSort>

    <ng-container matColumnDef="cedula">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Identificación </th>
      <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo Paciente </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="cod_medicamento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Código Medicamento </th>
      <td mat-cell *matCellDef="let element"> {{element.cod_medicamento}} </td>
    </ng-container>

    <ng-container matColumnDef="nom_medicamento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Medicamento </th>
      <td mat-cell *matCellDef="let element"> {{element.nom_medicamento}} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Autorización </th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad Retiros </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad_retiros}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 15, 20]" showFirstLastButtons class="paginator"></mat-paginator>
</div>

<div *ngIf="mostrarMensaje" class="form-group" style="text-align: center; margin-bottom: 30px; margin-top: 30px;">
  <mat-label class="message">{{mensaje}}</mat-label>
</div>

<button class="btnAccion" style="margin-left: 380px; margin-top: 30px;" mat-button (click)="onNoClick()" color="accent"
  mat-flat-button type="button">
  Volver
</button>