@import "../../../../sass/variables.scss";

.example-spacer {
  flex: 1 1 auto;
}

.claseForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 5px;
}

.btnBuscar {
  height: 40px;
  width: 95px;
  position: relative;
  top: 15px;
  margin: 0 auto;
  background-color: $accentBlue;
}
th,
td {
    color: $lightGray;
    box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    -webkit-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    -moz-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
    text-align: center;
}

::ng-deep.mat-select-value, ::ng-deep.mat-select-arrow{
  color: $lightGray;
}

::ng-deep.mat-sort-header-container{
  justify-content: center;
}

::ng-deep.mat-dialog-container{
  background-color: $blue;
}
mat-form-field {
  color: $lightGray;
  input {
      color: $lightGray;
  }
  mat-label {
      color: $lightGray;
  }
}
::ng-deep.mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: $lightGray;
}

::ng-deep.mat-inpu-element{
  background-color: $lightGray;
}

.containerTablaMedicamento {
  max-width: 40vw;
  margin: 0 auto;
}

.tableContainer {
  margin: 0 auto;
  width: 40vw;
  background-color: $blue;
  color: $lightGray;
  box-shadow: none;
}

.message{
  color: $lightGray;
}

.paginator {
  width: 40vw;
  background-color: $blue;
  color: $lightGray;
  box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -webkit-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.filtro {
  max-width: 200px;
}

[hidden] { display: none !important;}

.titulo{
  text-align: center;
  display: block;
  font-size: 20px;
}
