@import "../../../sass/variables.scss";

section {
  margin: 0 auto;
}

.menu-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-button .mat-button-base {
  margin: 8px 8px 8px 0;
}

.codigo-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

div {
  width: 98%;
  margin: 0 auto;
}

table {
  width: 80%;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  margin-top: 5vh;
  width: 80%;
}

.accionAgregar, .accionEliminar{
  color: $lightGray;
  transition: transform ease 200ms;
}
.accionAgregar:hover{
  color: $accentBlue;
  transform: scale(120%, 120%)
}
.accionEliminar:hover{
  color: #ba1122;
  transform: scale(120%, 120%)
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.paginator {
  width: 80%;
  margin: 0 auto;
}
::ng-deep.mat-select-value,
::ng-deep.mat-select-arrow {
  color: $lightGray;
}
.tableContainer {
  margin: 0 auto;
  width: 80%;
  background-color: $heavyblue;
}

::ng-deep.mat-sort-header-container {
  justify-content: center;
}

::ng-deep.mat-form-field {
  margin: 0;
}

mat-form-field,
mat-label,
input {
  color: $lightGray;
}
::ng-deep.mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: $lightGray;
}
.paginator {
  width: 80%;
  background-color: $heavyblue;
  color: $lightGray;
  box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -webkit-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
::ng-deep.exito.mat-snack-bar-container {
  text-align: center;
  background: green;
  color: white;
}

::ng-deep.error.mat-snack-bar-container {
  text-align: center;
  background: darkred;
  color: white;
}

.titulo {
  font-size: 1.8rem;
  display: block;
  text-align: center;
}

.crearUsuario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 170px;
  padding: 0;
  background-color: rgba($color: #000000, $alpha: 0);
  box-shadow: none;
  color: $lightGray;
  transition: transform ease 200ms, color ease 200ms;
  margin-top: 25px;
}
.crearUsuarioTitle {
  height: 20px;
  margin-top: 2px;
  color: $lightGray;
  transition: color ease 200ms;
}
.crearUsuario:hover {
  cursor: pointer;
  transform: scale(110%, 110%);
  color: $accentBlue;
}
th,
td {
  color: $lightGray;
  box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -webkit-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  -moz-box-shadow: 0px 0px 0px 1px rgba($lightGray, 0.75);
  text-align: center !important;
}
mat-label,
th,
td,
tr {
  text-align: center !important;
}
.buscar {
  max-width: 200px;
}
.containerCrear {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.tableContainer {
  margin: 0 auto;
  width: 80%;
  background-color: $heavyblue;
}
